.service__content
	grid-gap: 1rem
	grid-template-columns: repeat(4, 1fr)

.service__title
	text-align: center

.service__item
	text-align: center
	padding: 1rem
	flex-direction: column
	color: $grey
	border: 1px solid transparent
	transition: .5s ease
	&:hover
		border-radius: 0.2rem
		border: 1px solid $light
		.name
			color: darken($accent, 10%)

	.image
		padding: 0 2rem

	.name
		padding: 1rem 0
